#navbar {
  position: fixed;
  z-index: 9999;
  padding: 10px 0;
}

/* ! Responsive */
/* ipad */
@media only screen and (max-width: 768px) {
  #navbar .row .col-md:nth-child(2) {
    order: 3;
  }

  #navbar .row .col-md:nth-child(3) {
    order: 2;
  }
}

@media only screen and (max-width: 767px) {
  #navbar .row .col-md:nth-child(1) {
    display: none;
  }

  #navbar .row .col-md:nth-child(2) {
    order: 2;
  }

  #navbar .row .col-md:nth-child(3) {
    display: none;
  }
}
