#content3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#content3 .container {
  width: 70%;
}

#content3 .container h1 {
  font-size: 2rem;
  text-shadow:
    -1px 0 blue,
    0 1px blue,
    1px 0 blue,
    0 -1px blue;
  color: deepskyblue;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-style: italic;
  text-align: center;
}

#content3 .container form {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

#content3 .container form table {
  width: 80%;
  box-shadow: 0 10px 20px black;
}

#content3 .container form table tr {
  border: 1px solid rgba(0, 0, 0, 0.282);
}

#content3 .container form table tr td {
  padding: 10px;
}

#content3 .container form table tr td label {
  font-size: 1rem;
  text-shadow:
    -1px 0 blue,
    0 1px blue,
    1px 0 blue,
    0 -1px blue;
  color: deepskyblue;
}

#content3 .container form table tr td input {
  width: 100%;
}

/* submit */
#content3 .container form table tr td button {
  width: 100%;
}

/* ipad */
@media only screen and (max-width: 768px) {
  #content3 .container {
    width: 80%;
  }

  #content3 .container form table {
    width: 100%;
    box-shadow: 0 10px 20px black;
  }

  /* Label font */
  #content3 .container form table tr td label {
    font-size: 0.8rem;
  }

  /* Input font */
  #content3 .container form table tr td input {
    font-size: 0.8rem;
  }

  #content3 .container form table tr td button {
    font-size: 0.8rem;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #content3 .container {
    width: 100%;
  }
}
