#content3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  --size: 12px;
  padding: 2vmax;
}

#content3 .container .row {
  gap: var(--size);
}

#content3 .container .row .col-md:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
}
#content3 .container .row .col-md:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content3 .container .row .judulForm {
  color: #343a40;
  text-transform: capitalize;
  font-size: 3.5vmax;
}

#content3 .container .row .paragraph {
  font-size: 1vmax;
  letter-spacing: 1.2px;
}

/* Form */
#content3 .container .row .formContact {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: var(--size);
  flex-direction: column;
}

#content3 .container .row .formContact .judulForm {
  color: #292b2c;
  font-style: italic;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

#content3 .container .row .formContact .input {
  display: flex;
  flex-direction: column;
  width: 90%;
}

#content3 .container .row .formContact .input input {
  padding: 1rem;
  box-sizing: border-box;
  height: 3vmax;
}

@media screen and (max-width: 768px) {
  #content3 {
    height: auto;
  }

  #content3 .container {
    /* width: 100%; */
    margin: 0;
  }

  #content3 .container .row .col-md:nth-child(1) {
  }

  #content3 .container .row .paragraph {
    font-size: 1.5vmax;
    color: rgb(255, 255, 255);
    letter-spacing: 1.2px;
  }

  #content3 .container .row .col-md:nth-child(2) {
  }

  #content3 .container .row .formContact .input {
    display: flex;
    flex-direction: column;
    width: 90%;
  }

  #content3 .container .row .formContact .input input {
    height: 4vmax;
  }
}

@media screen and (max-width: 425px) {
  #content3 .container {
    /* width: 100%; */
    font-size: var(--size);
  }
}
