#content3 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  --size: 12px;
}

#content3 .container {
  box-shadow: 0 0 5px black;
  width: 80%;
}

#content3 .container .row {
  gap: var(--size);
}

#content3 .container .row .col-md:nth-child(1) {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  text-transform: capitalize;
}
#content3 .container .row .col-md:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
}

#content3 .container .row .paragraph {
  color: rgb(255, 255, 255);
  letter-spacing: 1.2px;
}

/* Form */
#content3 .container .row .judulForm {
  color: rgb(255, 255, 255);
}

#content3 .container .row .formContact {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: var(--size);
  flex-direction: column;
}

#content3 .container .row .formContact .judulForm {
  color: rgb(213, 31, 31);
  text-shadow:
    -1px 0 0 white,
    1px 0 0 white,
    0 -1px 0 white,
    0 1px 0 white;
  font-style: italic;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
}

#content3 .container .row .formContact .input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#content3 .container .row .formContact .input input {
  height: 3vmax;
}

@media screen and (max-width: 768px) {
  #content3 {
    height: auto;
  }

  #content3 .container {
    width: 90%;
    margin: 0;
  }

  #content3 .container .row .col-md:nth-child(1) {
    height: 50vh;
  }

  #content3 .container .row .col-md:nth-child(2) {
    height: 50vh;
  }

  #content3 .container .row .formContact .input {
    display: flex;
    flex-direction: column;
    width: 80%;
  }

  #content3 .container .row .formContact .input input {
    height: 4vmax;
  }
}

@media screen and (max-width: 425px) {
  #content3 .container {
    width: 100%;
    font-size: var(--size);
  }
}
