#content2 {
  border-bottom: 1px solid white;
  box-shadow: 0px 15px 50px rgba(0, 33, 246, 0.782);
}

#content2 .container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

/*  */
/* ! Responsive */
/* ipad */
@media only screen and (max-width: 768px) {
  #content2 .container {
    column-gap: 0rem;
  }
}

/* from medium to ipad */
@media only screen and (max-width: 767px) {
  #content2 .container {
    flex-wrap: wrap;
  }
}

/* medium gadget */
@media only screen and (max-width: 600px) {
}

/* low gadget */
@media only screen and (max-width: 400px) {
}
