#content2 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  /* masukan bg-image */
  background-image: url('../images/content1/awanBG.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#content2 .container {
  width: 60%;
}

/* ! Responsive */
/* ipad */
@media only screen and (max-width: 768px) {
  #content2 .container {
    width: 70%;
  }

  #content2 div:nth-child(3) {
    display: none;
  }
}

/* medium gadget */
@media only screen and (max-width: 600px) {
  #content2 .container {
    width: 90%;
  }
}
