#content2 #headingContent2 {
  border-bottom: 1px solid blue;
}

#content2 #headingContent2 h1 {
  font-size: 2rem;
  text-shadow:
    -1px 0 blue,
    0 1px blue,
    1px 0 blue,
    0 -1px blue;
  color: deepskyblue;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-style: italic;
  text-align: center;
}

/* ! Responsive */

/* Laptop medium */
@media only screen and (max-width: 900px) {
  /* #content2 #headingContent2 {
    padding-bottom: 30px;
  } */
}

/* ipad */
@media only screen and (max-width: 768px) {
  /* TEXT */
  /* #content2 #headingContent2 h1 {
    font-size: 2.5rem;
  } */
}

/* medium gadget */
@media only screen and (max-width: 600px) {
}

/* low gadget */
@media only screen and (max-width: 400px) {
}
