#content2 .text {
  display: flex;
  justify-content: center;
}

#content2 .text > h1 {
  font-size: 3vmax;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-style: italic;
}

/* ! Responsive */

/* ipad */
@media only screen and (max-width: 768px) {
  /* TEXT */
  #content2 .text > h1 {
    font-size: 4vmax;
  }
}
