#content1 {
  padding: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

#content1 .containerColom {
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

/* row 1 */
#content1 .containerColom .row:nth-child(1) {
  padding: 2vmax;
  margin-bottom: 12px;
}

#content1 .containerColom .elementPp_1 {
  text-align: center;
}

#content1 .containerColom .elementPp_1 h1 {
  font-family: sans-serif;
  text-shadow:
    -2px -2px 0 black,
    3px 3px 0 white;
  color: #343a40;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 3vmax;
}

#content1 .containerColom .elementPp_1 p {
  font-family: courier;
  text-transform: capitalize;
  font-size: 1.2vmax;
  margin: 0;
}

/* row 1 */
#content1 .containerColom .row:nth-child(2) {
  background-color: #212529;
}

/* ! Responsive */
@media only screen and (max-width: 1024px) {
}

/* ipad */
@media only screen and (max-width: 768px) {
  #content1 .containerColom .elementPp_1 {
    h1 {
      font-size: 5vmax;
    }

    p {
      font-size: 2vmax;
    }
  }
}

/* medium gadget */
@media only screen and (max-width: 576px) {
}

/* low gadget */
@media only screen and (max-width: 425px) {
  #content1 {
    padding: 5px;
  }

  /* row 1 */
  #content1 .containerColom {
    width: 100%;
  }
}

/* low gadget */
@media only screen and (max-width: 320px) {
  #content1 {
    position: relative;
    height: auto;
  }

  #content1 .containerColom .elementPp_1 {
    flex: 1;
    text-align: center;
    padding: 5vmax 1.2vmax;
    box-sizing: border-box;
  }
}

/* ! Animation */
