#content1 {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid white;
  box-shadow: 0px -10px 100px rgba(0, 33, 246, 0.782);
}

#content1 .containerColom {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

#content1 .containerColom .colom-1 {
  border-top: 1px solid rgb(255, 255, 255);
  border-bottom: 1px solid rgb(255, 255, 255);
}

/*  */
/* ! Responsive */
/* ipad */
@media only screen and (max-width: 768px) {
  #content1 .containerColom {
    column-gap: 2rem;
  }
}

/* from medium to ipad */
@media only screen and (max-width: 767px) {
  #content1 .containerColom {
    flex-wrap: nowrap;
  }
}

/* medium gadget */
@media only screen and (max-width: 540px) {
  #content1 {
    height: auto;
  }

  #content1 .containerColom {
    padding-top: 120px;
    flex-wrap: wrap;
  }
}

/* low gadget */
@media only screen and (max-width: 400px) {
}
