#content1 #headingContent1 {
  display: block;
}

#content1 #headingContent1 {
  text-transform: capitalize;
}

#content1 #headingContent1 {
  color: white;
}

/* #content1 #headingContent1 .container img {
  width: 150px;
} */

#content1 #headingContent1 h1 {
  color: rgb(213, 31, 31);
  text-shadow:
    -1px 0 0 white,
    1px 0 0 white,
    0 -1px 0 white,
    0 1px 0 white;
  font-style: italic;
  font-size: 2rem;
  font-weight: bold;
  width: 100%;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.1rem;
}

#content1 #headingContent1 p {
  color: rgb(168, 6, 168);
  text-shadow:
    -1px 0 0 white,
    1px 0 0 white,
    0 -1px 0 white,
    0 1px 0 white;
  text-align: center;
  font-size: 1.5rem;
}

/* ! Responsive */

/* Laptop medium */
@media only screen and (max-width: 900px) {
  #content1 #headingContent1 {
    padding-bottom: 30px;
  }

  /* #content1 #headingContent1 .container {
    flex-direction: column;
    gap: 0.3rem;
  } */

  #content1 #headingContent1 p {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 0;
  }
}

/* ipad */
@media only screen and (max-width: 768px) {
  /* TEXT */
  #content1 #headingContent1 h1 {
    font-size: 1.5rem;
  }

  #content1 #headingContent1 p {
    font-size: 0.8rem;
  }
}

/* medium gadget */
@media only screen and (max-width: 600px) {
}

/* low gadget */
@media only screen and (max-width: 400px) {
  /* #content1 #headingContent1 .container {
    flex-direction: column;
    gap: 0;
  } */
}
