@font-face {
  font-family: FontTextChild2;
  src: url(../GoogleFont/RobotoCondensed-Black.ttf);
}

#content1 #headingContent1 {
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;

  h1 {
    background-color: white;
    color: #212529;
    font-size: 3vmax;
    font-family: FontTextChild2;
    text-transform: uppercase;
    letter-spacing: 0.2vmax;
  }

  p {
    background-color: white;
    font-family: FontTextChild2;
    color: #212529;
    font-size: 2vmax;
    text-align: center;
    margin: 0;
  }
}

/* ! Responsive */

/* Laptop medium */
@media only screen and (max-width: 900px) {
}

/* ipad */
@media only screen and (max-width: 768px) {
  /* TEXT */
  #content1 #headingContent1 {
    h1 {
      font-size: 5vmax;
    }

    p {
      font-size: 2.5vmax;
      word-wrap: break-word;
    }
  }
}

/* medium gadget */
@media only screen and (max-width: 600px) {
}

/* low gadget */
@media only screen and (max-width: 400px) {
  /* #content1 #headingContent1 .container {
    flex-direction: column;
    gap: 0;
  } */
}
