#content1 #skillsContent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-top: 20px;
}

#content1 #skillsContent1 .headSkill h1 {
  font-size: 1.7rem;
  color: red;
  text-transform: capitalize;
  letter-spacing: 4px;
  font-style: italic;
}

#content1 #skillsContent1 .containerElement {
  display: flex;
  gap: 0.7rem;
}

#content1 #skillsContent1 .containerElement .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0.1rem;
}

#content1 #skillsContent1 .containerElement .container img {
  width: 2rem;
  height: 2rem;
  transition: 0.1s;
}

#content1 #skillsContent1 .containerElement .container img:hover {
  cursor: pointer;
  transform: translate(0, -5px);
}

#content1 #skillsContent1 .containerElement .container .html {
  width: 3rem;
}

#content1 #skillsContent1 .containerElement .container h6,
#content1 #skillsContent1 .containerElement .container h5 {
  color: rgb(255, 240, 217);
  font-size: 0.6rem;
}

/* tag p image */
#content1 #skillsContent1 .containerElement .container p {
  font-size: 1rem;
}

/* ! Responsive */
/* laptop 900px */
@media only screen and (max-width: 900px) {
  #content1 #skillsContent1 {
    padding-top: 30px;
  }

  #content1 #skillsContent1 .headSkill h1 {
    font-size: 1.5rem;
  }

  #content1 #skillsContent1 .containerElement {
    display: flex;
    gap: 0.7rem;
  }

  #content1 #skillsContent1 .containerElement .container {
    padding: 0;
  }
}

/* ipad */
@media only screen and (max-width: 768px) {
}

/* medium gadget */
@media only screen and (max-width: 600px) {
  #content1 #skillsContent1 .containerElement .container img {
    width: 2rem;
    height: 2rem;
  }

  /* gambar html */
  #content1 #skillsContent1 .containerElement .container .html {
    width: 3rem;
  }
}

/* low gadget */
@media only screen and (max-width: 400px) {
  #content1 #skillsContent1 .headSkill h1 {
    font-size: 20px;
  }

  #content1 #skillsContent1 .containerElement {
    display: flex;
    gap: 0.7rem;
  }

  #content1 #skillsContent1 .containerElement .container {
    padding: 0;
  }

  #content1 #skillsContent1 .containerElement .container img {
    width: 2rem;
    height: 2rem;
  }

  /* gambar html */
  #content1 #skillsContent1 .containerElement .container .html {
    width: 3rem;
  }

  #content1 #skillsContent1 .containerElement .container h6,
  #content1 #skillsContent1 .containerElement .container h5 {
    font-size: 0.6rem;
  }
}
