@font-face {
  font-family: FontTextChild2;
  src: url(../GoogleFont/RobotoCondensed-Black.ttf);
}

#content1 .containerColom .colom-1 {
  width: 100%;
  flex: 1;
  padding: 2vmax 1.2vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2vmax;
}

#content1 #skillsContent1 {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 5px;
  z-index: 1;
}

#content1 #skillsContent1 .headSkill {
  background-color: white;
  width: 100%;
  text-align: center;
  border-top-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}

#content1 #skillsContent1 .headSkill h1 {
  color: #212529;
  font-size: 3vmax;
  font-family: FontTextChild2;
  text-transform: uppercase;
  letter-spacing: 0.5vmax;
  font-weight: bold;
  margin: 0;
}

#content1 #skillsContent1 .containerElement {
  display: flex;
  gap: 0.5rem;
}

#content1 #skillsContent1 .containerElement .container {
  background-color: white;
  padding: 0.6vmax 1vmax;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-top-left-radius: 2vmax;
  border-bottom-right-radius: 2vmax;
}

/* text */
#content1 #skillsContent1 .containerElement .container h6,
#content1 #skillsContent1 .containerElement .container h5 {
  margin: 0;
  color: black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 0.9vmax;
}

#content1 #skillsContent1 .containerElement .container img {
  width: 2rem;
  height: 2rem;
  transition: 0.1s;
}

#content1 #skillsContent1 .containerElement .container img:hover {
  cursor: pointer;
  transform: translate(0, -3px);
}

/* ! Responsive */

/* ipad */
@media only screen and (max-width: 768px) {
  #content1 #skillsContent1 .containerElement {
    gap: 2vmax;
  }

  #content1 #skillsContent1 .containerElement .container h6,
  #content1 #skillsContent1 .containerElement .container h5 {
    font-size: 1vmax;
  }
}

/* low gadget */
@media only screen and (max-width: 425px) {
  #content1 #skillsContent1 .containerElement {
    gap: 1vmax;
  }
}

/* low gadget */
@media only screen and (max-width: 250px) {
  #content1 #skillsContent1 .containerElement {
    display: flex;
    flex-wrap: wrap;
  }

  #content1 #skillsContent1 .containerElement .container {
    width: 40%;
  }
}
