#content1 #skillsContent1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

#content1 #skillsContent1 .headSkill h1 {
  font-size: 1.5rem;
  color: red;
  text-transform: capitalize;
}

#content1 #skillsContent1 .containerElement {
  display: flex;
  gap: 0.7rem;
}

#content1 #skillsContent1 .containerElement .container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#content1 #skillsContent1 .containerElement .container img {
  width: 2rem;
  height: 2rem;
}

#content1 #skillsContent1 .containerElement .container .html {
  width: 3rem;
}

#content1 #skillsContent1 .containerElement .container h6,
#content1 #skillsContent1 .containerElement .container h5 {
  font-size: 11px;
}

#content1 #skillsContent1 .containerElement .container p {
  font-size: 12px;
}

/* ! Responsive */
/* ipad */
@media only screen and (max-width: 768px) {
}

/* medium gadget */
@media only screen and (max-width: 600px) {
}

/* low gadget */
@media only screen and (max-width: 400px) {
  #content1 #skillsContent1 .headSkill h1 {
    font-size: 14px;
  }

  #content1 #skillsContent1 .containerElement {
    display: flex;
    gap: 0.7rem;
  }

  #content1 #skillsContent1 .containerElement .container {
    padding: 0;
  }

  #content1 #skillsContent1 .containerElement .container img {
    width: 1.5rem;
    height: 1.5rem;
  }

  /* gambar html */
  #content1 #skillsContent1 .containerElement .container .html {
    width: 2rem;
  }

  #content1 #skillsContent1 .containerElement .container h6,
  #content1 #skillsContent1 .containerElement .container h5 {
    font-size: 10px;
  }
}
